.form_normal{
    .form-group{
        select{
            height: 56px;
        }
        input{
            height: 56px;
        }
        
    }
    button{
        height: 56px;
    }
}
.info-career{
    .custom-checkbox {
        margin-bottom: 10px;
    }
}
.header-menu{
    .nav-link{
        transition: all .3s ease-in-out;
        &:hover{
            background: #fff;
            color: #003CB5 !important;
        }
    }
    .nuxt-link-exact-active {
        background: #fff;
        color: #003CB5 !important;
    }
}
.b_r_2{
    border-radius: 5px !important;
}
.border_opacity{
    border: 2px solid rgba(255, 255, 255, 0.432);
}
.c_b_s{
    transition: all .3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}
.c_b_s:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}

.btn_search {
    min-width: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.authenticated_user {
    min-width: 150px;
    .btn{
        border:0;
    }
    button {
        justify-content: space-around;
        display: flex;
        align-items: center;
    }
    .dropdown-menu{
        padding: 0;
        min-width: 200px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        li{ 
            padding: 8px 5px;
            border-bottom: 1px solid #ccc;
            .dropdown-item{
                font-size: 14px;
                padding-left: 10px;
                padding: 5px 0;
                padding-bottom: 0;
                
            }
            &:last-child{
                border-bottom:0;
                .dropdown-item{
                    margin-bottom: 0px;
                }
            } 
            &:hover{
                background-color: #e9ecef;
            }
        }
    }
    
}
.btn_support {
    min-width: 120px;
    text-align: center;
}