@font-face {
font-family: 'SFProDisplaySemiBold';
src: url("/fonts/SFProDisplay/SF-Pro-Display-Semibold.otf") format("opentype");
}
@font-face {
font-family: 'SFProDisplayRegular';
src: url("/fonts/SFProDisplay/SF-Pro-Display-Regular.otf") format("opentype");
}
@font-face {
font-family: 'SFProDisplayBold';
src: url("/fonts/SFProDisplay/SF-Pro-Display-Bold.otf") format("opentype");
}
body{
    font-family: 'SFProDisplayRegular',sans-serif !important;
    font-size: 16px !important;
}
h1, h2, h3, h4, h5{
    font-family: 'SFProDisplaySemiBold',sans-serif !important;
}
.badge{
    cursor: pointer;
}
.custom_badge_success{
    color: #28a745 !important;
    background-color: transparent !important;
    border: 1px solid #28a745 !important;
}
.custom_badge_info{
    border: 1px solid #17a2b8 !important;
    color: #17a2b8;
    background-color: transparent;
}
.custom_badge_warning{
    border: 1px solid #ffc107 !important;
    color: #ffc107;
    background-color: transparent;
}

.main_menu{
    background-color: #058FFE !important;
    padding: 0;
    .navbar-nav{
        flex: 0 0 100%;
        justify-content: flex-start;
        -webkit-box-align:flex-start;
        -ms-flex-align: flex-start;
        li{
            a{
                padding: 1em 2em !important;
                color: #fff !important;
            }
            .nuxt-link-exact-active{
                color: #058FFE !important;
            }
        }
    }
}
.form_normal{
    .form-group{
        select{
            height: 45px;
        }
        input{
            height: 45px;
        }
        
    }
    button:not(.b-form-tag-remove){
        height: 40px;
    }
}
.info-career{
    .custom-checkbox {
        margin-bottom: 10px;
        display: block;
    }
}
.header-menu{
    .nav-link{
        transition: all .3s ease-in-out;
        &:hover{
            background: #fff;
            color: #003CB5 !important;
        }
    }
    .nuxt-link-exact-active {
        background: #fff;
        color: #003CB5 !important;
    }
}
.b_r_2{
    border-radius: 5px !important;
}
.border_opacity{
    border: 2px solid rgba(255, 255, 255, 0.432);
}
.c_b_s{
    transition: all .3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}
.c_b_s:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}

.btn_search {
    min-width: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.authenticated_user {
    min-width: 150px;
    .btn{
        border:0;
    }
    button {
        justify-content: space-around;
        display: flex;
        align-items: center;
    }
}
.top_menu .dropdown-menu{
    padding: 0;
    min-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    li{ 
        padding: 8px 5px;
        border-bottom: 1px solid #ccc;
        .dropdown-item{
            font-size: 14px;
            padding-left: 10px;
            padding: 5px 0;
            padding-bottom: 0;
            
        }
        &:last-child{
            border-bottom:0;
            .dropdown-item{
                margin-bottom: 0px;
            }
        } 
        &:hover{
            background-color: #e9ecef;
        }
    }
}
.action_dropdown .dropdown-menu{
    padding: 0;
    min-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    li{ 
        padding: 8px 5px;
        border-bottom: 1px solid #ccc;
        .dropdown-item{
            font-size: 14px;
            padding-left: 10px;
            padding: 5px 0;
            padding-bottom: 0;
            
        }
        &:last-child{
            border-bottom:0;
            .dropdown-item{
                margin-bottom: 0px;
            }
        } 
        &:hover{
            background-color: #e9ecef;
        }
    }
}
.btn_support {
    min-width: 120px;
    text-align: center;
}
.notify_list{
    p{
        margin-bottom: 0;
    }
}
.notify_content{
    overflow-y: scroll;
    max-height: 150px;
}
.notify_content::-webkit-scrollbar {
    width: 5px;
}
.notify_content::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.notify_list_content {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;     
    justify-content: space-between;
    -webkit-justify-content: space-between;
    font-size: 12px;
    .notify_list_content_middle{
        width: 300px;
        white-space: normal;
    }
    .mark_all_read{
        color: #fff;
        transition: all .3s ease-in-out;
        &:hover{
            text-decoration: underline;
        }
    }
    
}
.notify_list_title {
    background: #058FFE;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    a{
        div{
            color: #fff;
            font-size: 14px;
        }
        display: flex;
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        justify-content: space-between;
        -webkit-justify-content: space-between;
        span{
            color: #fff;
        }
    }
    &:hover{
        background-color: #058FFE !important;
        a{
            background-color: #058FFE !important;
        }
    }
}
.btn_top_menu{
    display: inline-block;
    
    height: 42px;
    
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #fff0;
    margin-left: 25px;
    transition: all .3s ease-in-out;
    background: #038ffe;
    min-width: 120px;
    text-align: center;
    a{
        color: #fff !important;
    }
}
.btn_top_menu.register{
    border-color: #002F8A;
    color: #002F8A !important;
    background-color: transparent;
    a{
        color: #002F8A !important;
    }
}
.notify_list_main{
    a{
        padding-top: 0 !important;
    }
}
.tab_account{
    border: 0;
    background-color: transparent;
    ul.nav{
        background-color: #038ffe;
        border-radius: 10px !important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important; 
        margin-right: 20px;
        

    }
    .tab-content{
        background-color: #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important; 
        border-radius: 10px !important;
        
        
    }
    .account_avatar{
        border: 3px solid #fff;
        display: block;
        margin: 0 auto;
        .b-avatar-badge {
            font-size: .8em !important;
        }
    }
    .custom_avatar {
        float: left;
        width: 20%;
        background-color: #038ffe;
        border-radius: 10px;
        
    }
}
.avatar_section {
    ul.nav{
        .nav-item{
            .nav-link{
                color: #fff;
                margin-bottom: 10px;
            }
            &:first-child {
                
                .nav-link {
                    // padding: 0.5rem .0rem;
                    padding: 0rem .0rem;
                    background: transparent !important;
                }
            }
            .section_first_title {
                display: block;
                padding: 0.5rem 1rem;
                border-radius: 0.25rem;
            }
        }
        .nav-item .active{
            background-color:#f0f8ff45;   
            .section_first_title{
                background-color:#f0f8ff45;   
            }
        }
        
    }
    .card-header{
        padding: 0.75rem .5rem;
    }
    h4.cus_name {
        text-align: center;
        margin: 10px 0;
        font-weight: bold;
    }
    
}
.tab_account{
    .card-body{
        padding: 0 !important;
    }
}
.information-user{
    box-shadow: none;
    table{
        thead {
            background: #002f8a;
            color: #fff;
        }
    }
    .dropdown-left-custom{
        ul{
            // left: -100px !important;
            z-index: 2;
            background-color: #dff1ff;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border: 0;
            padding: 0;
            &::after{
                // background-color: #cb3a2d;
                // bottom: -20px;
                // content: '';
                // display: block;
                // height: 40px;
                // left: 50%;
                // margin-left: -20px;
                // position: relative;
                // -ms-transform: rotate(45deg);
                // -webkit-transform: rotate(45deg);
                // transform: rotate(45deg);
                // width: 40px;
                // z-index: 1;

                content: '';
                position: absolute;
                top: -7px;
                right: 19px;
                width: 10px;
                height: 10px;
                font-size: 21px;
                background-color: #dff1ff;
                color: #dff1ff;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                z-index: 1;
            }
            li{
                a{
                    padding: .5em .5em;
                    color: #002f8a;
                    font-weight: bold;
                    font-size: 14px;
                    padding-left: 10px;
                }
                &:hover{
                    a{
                        background-color: #C5E6FF;
                    }
                }
            }
        }
        
    }
    table{
        td{
            padding: 0.25rem .8rem;
            .dropdown-left-custom{
                float: right;
            }
            span.cell_domain {
                font-weight: bold;
                white-space: normal;
            }
            .badge {
                margin: 0 auto;
                width: 100px;
                display: block;
                font-size: 14px;
                padding: 8px 0;
            }
        }
        thead{
            th{
                text-align: center;
            }
        }

        
    }
}
.btn-add {
    line-height: 50px;
    button {
        color: #003CB4;
        height: 43px !important;
    
    }
}
.top_menu{
    padding: 0;
    .navbar-nav{
        align-items: center;
    }
    .notify_menu{
        position: relative;
        a{
            min-width: 50px;
            position: relative;
            &::after{
                display: none;
            }
            .badge_notify {
                font-size: 10px;
                position: relative;
                border-radius: 99px;
                position: absolute;
                top: 0px;
                left: 20px;
                padding: 5px;
                
            }
        }
        .dropdown-menu{
            border: 0;
            &::after{
                content: '';
                position: absolute;
                top: -5px;
                right: 25px;
                width: 10px;
                height: 10px;
                font-size: 21px;
                background-color: #058FFE;
                color: #058FFE;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                z-index: 1;
            }
            li{
                padding: 8px 15px;
            }

        }
        
    }
    .account_menu{
        .dropdown-menu{
            border: 0;
            &::after{
                content: '';
                position: absolute;
                top: -5px;
                right: 25px;
                width: 10px;
                height: 10px;
                font-size: 21px;
                background-color: #fff;
                color: #fff;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                z-index: 1;
            }
            li{
                padding: 8px 15px;
            }

        }
    }
    
}
.b-form-tags{
    font-size: 1em;
    padding-top: 0;
    padding-bottom: 0;
    // .badge{
    //     padding: 0.05em 0.5em;
    // }
    // // font-size: .9em;
    // align-items: center;
    // align-self: center;
    .d-flex{
        justify-content: center;
        align-items: center;
        button{
           
        }
    }
}
.btn_account_edit{
    cursor: pointer;
}
#sidebar-1{
    background-color:#038ffe !important;
    background-repeat: no-repeat;
    background-size: cover;
    header{
        color: #fff;
        background-color: #0970c1;
        button{
            color: #fff !important;
        }
    }
    
}
#sidebar_mobile_menu {
    ul{
        
        list-style: none;
        li{
            border-bottom: 1px dotted #eee;
            padding: 10px 0;
            a{
                padding: 10px;
                color: #fff;
            }
        }
    }
}
.action_dropdown {
    ul{
        li{
            padding: 5px;
            &:hover{
                background-color: #C5E6FF !important;
            }
        }
    }
}
.dropdown-menu{
    animation-name: DropDownSlide;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}
.information-user .dropdown-left-custom ul {
    right: 0 !important;
    left: auto !important;
    top: 40px !important;
}
.view_all{
    padding: 10px !important;
    background-color: #eee;
}
.information-user{
    .notify_config_list {
        .list-group-item {
            display: flex;
            display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;  /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            justify-content: space-between;
            
            -webkit-box-align:space-between;
            -ms-flex-align: space-between;
        }
    }
    .info_section__title{
        font-size: 20px;
    }
    
}
.infor_section{
    .title-information{
        display: flex;
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        justify-content: space-between;
        -webkit-box-align: space-between;
        -ms-flex-align: space-between;
        align-items: center;
        -webkit-align-items: center;
        
    }
}
@keyframes DropDownSlide {
    100% {
      transform: translateY(0);
    }
    0% {
      transform: translateY(10px);
    }
  }
  
.main_comment{
    display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    align-items: flex-start;
    margin-bottom: 10px;
    .avatar_comment{
        max-width: 40px;
        border-radius: 99px;
        margin-right: 10px;
        
    }
    .main_comment_wrapper {
        display: flex;
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        justify-content: space-between;
        width: 100%;
        flex-flow: column wrap;
        color: #000;
        h5{
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            small{
                font-size: 14px;
            }
            .action_reply {
                max-width: 50px;
                margin-bottom: 10px;
            }
        }
        .comment_item{
            margin-bottom: 5px;
        }
    }
}
.form_comment{
    padding: 15px;
    form.form_comment textarea {
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
@media(max-width:768px){
    .dropdown-menu-right{
        
    }
    .title-com-vn {
        color: #fff;
        font-size: 24px;
        text-align: center;
        margin: 20px 0 0 0;
    }
    .session-01 .title-search{
        text-align: center;
        font-size: 20px;
    }
    .top_menu {
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        .navbar-brand.home_brand {
            width: 100%;margin: 0 auto;
            flex: 0 0 80%;
        }
        
        .navbar-brand.home_brand a img {
            max-width: 60%;
            display: block;
            margin-right: auto;
        }
        ul.navbar-nav{
            flex-flow: row;
            justify-content: space-between;
        }
        .dropdown-menu{
            position: absolute !important;
            
            // min-width: calc(100vw);
           
            // right: 0;
            // left: -73px;
        }
    }
    .notify_menu {
        margin: 0 !important;
        .dropdown-menu{
            position: relative;
        }
        .dropdown-menu-right{
            right: 0;
            left: 0;
        }
    }
    .info-sell-domain-names{
        padding: 20px;
    }
    .info-sell-domain-names .row.row_form>.col-lg-1{
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 10px;
    }

    
}
.content_wrapper{
    .content_item{
        h3{
            font-size: 20px;
        }
        .content__content {
            background: #fff;
            padding: 1.2em;
            margin-bottom: 1em;
            border-radius: 5px;
        }
    }
    
}

@media(max-width:375px){
    .top_menu{
        .dropdown-menu{
            min-width: 350px;
        }
    }
    .top_menu .notify_menu .dropdown-menu::after{
        left: 10px;
        right: inherit;
    }
}
@media(max-width:1024px){
    .main_menu .navbar-nav li a{
        padding: 1em !important;
    }
}

@media(max-width:576px){
    .buy-top-radio{
        margin-bottom: 0;
    }
    .btn_search {
        margin-top: 1em;
    }
    .information-user .dropdown-left-custom ul {
        right: 0 !important;
        left: auto !important;
        top: 40px !important;
    }
    .information-user table td .badge{
        padding: 8px 14px;
    }
    .tab_account{
        .col-auto{
            width: 100%;
            margin-bottom: 1em;
            ul{
                margin: 0;
            }
        }
    }
    .infor_section{
        .title-information{
            button{
                font-size: 14px;
            }
        }
    }
    .session-comment .item-comment .info-comment .comment-input button.btn.btn-submit {
        
       
        padding: 0 20px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }
    
}
